body{
    background-color:#ebb36e4a;
}
.navbar{
    display:flex;
    justify-content:space-evenly;
    margin-right: 80px;;
    padding-top: 20px;
}
.navbar nav{
    padding-top: 20px;
    
}
.navbar nav li{
    padding-top: 20px;
    text-align:center;
}
.navbar a{
    text-decoration: none;
    font-size: 10px;
    font-family: bold;
    color: black;
    font-size: 20px;
}
.navbar  ul li{
    display: inline;
    margin-right:30px;
}

.navbar button{
    padding: 10px;
    margin: 20px;
    color:white;
    border-radius:20px;
    background-color:#553a03;
}
.navbar h1{
    font-style: italic; 
    font-size: 50px;
    font-weight: 70px;
    margin:10px;
    padding: 10px; 
    color:#4a2509
}
.navbar img{
    width: 100px;
    height: 100px;
    border: 2px;
    border-radius: 2px;
}

.main{
    display: flex;
    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: corver;
    height:100vh;
    width:auto;
    align-items: center;
}
.item1{
      backdrop-filter:blur(5px) ;
      border:5px solid rgba(125, 84, 10, 0.5); 
      justify-content: center;   
      padding:20px;
      margin: 50px auto; 
      align-items: center;
      height: 220px;
      width: auto;
      border-radius: 20px;
}
.item1 h1{
    font-weight: 10px;
    text-align: center;
}
.item1 p{
    text-align: center;
}
.item1 button{
    padding: 10px;
    margin: 20px;
    color:white;
    border-radius:20px;
    background-color:#845A06;
    align-items: center;
    justify-content: center;
    margin-left:170px;
    border: none;
    cursor: pointer;
}
h1{
    text-align: center;
    font-family: Double-Struck;
}
p{
    text-align: center;
}
.content{
    
    align-items:center;
    justify-content:space-between;
    padding-left: 80px;
    display: flex;
    margin-right: 20px;
    flex-direction: row;
    column-gap: 20px;
}
.con1{
   padding: 10px;
   margin: 10px;
   border-radius: 20px;
    border: 3px solid #845A06;
    text-align: center;
    column-gap: 20px;
    justify-content: center;
}
.con1 img{
    width:400px;
    height:200px;
    margin-right: 20px;
    justify-content: center;
    padding-right:30px;
    align-items:center;
    padding-left: 70px;
    display: flex inline; 
    align-items: center;
    
}
.con1 h1{
    text-align: center;
    font-style:italic;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.menu{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("bread.jpg");
    
    background-size: cover;
    background-position: center;
    
    text-align: center;
    padding: 80px 20px;
}
.menu h1{
    color: white;
    font-size: 60px;
    margin-bottom: 50px;

}
.card-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.card{
    width:250px;
    background-color: #e4cea2;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px black;
    transition: transform 0.3px ease, box-shadow 0.3 ease;
}
.card:hover{
     box-shadow: 0 6px 18px black;
    transform: scale(1.03);
}
.card img{
    width:70px;
    height: 70px;
    margin-bottom: 15px; 
}

.card h2{
    margin-bottom: 15px;
}
.card p{
    color:#666;
    font-size: 14px;
    line-height: 1.5;
}
.card a{
    display: inline-block;
    margin-top: 15px;
    color:#555;
    text-decoration: none;
    border-bottom: 1px solid #555;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f8f5ef;
}

.about{
    display:flex;
    align-items:center;
    min-height:100vh;
    margin: 10px;
    padding-top: 20px;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("ab.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-image{
    display: flex;
}

.about-image img{
    width:auto;
    height:100vh;
    background-size:corver;
    background-repeat: no-repeat;
    background-position: center;
}

.about-content{
    flex:1;
    text-align:center;
    padding:50px;
}

.logo{
    width:80px;
    margin-bottom:10px;
}

.about-content h4{
    color:#4a2509;
    letter-spacing:2px;
    margin-bottom:20px;
}

.about-content h1{
    font-size:50px;
    margin-bottom:20px;
}

.about-content p{
    color:#000000;
    line-height:1.8;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    text-decoration:none;
    background:#c97835;
    color:white;
    padding:15px 40px;
    border-radius:30px;
    font-weight:bold;
}

.btn:hover{
    background:#a95f23;
}
footer{
    background-color:#472204;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}
.footer-content{
    margin-bottom:10px;
}
.footer-links{
    margin: 15px 0;
}
.footer-links a{
    color:white;
    text-decoration: none;
    margin: 0 10px;
}
.footer-links a:hover{
    color:orange;
}
.copyright{
    font-size: 14px;
    margin-top: 10px;
}
.form1{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
} 
.frm1{
    border:0px solid rgb(197, 190, 176);
    backdrop-filter:blur(20px);
    border-radius:20px;
}


.form1 form input{
    align-items: center;
    color: black;
    
}
.form1 form{
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    margin: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: antiquewhite;
}
.form1 button{
    padding:20px;
    margin:10px;
    align-items: center;
    padding-right: 30px ;
    background-color:#553a03;
    color: white;
    border:2px;
    border-radius:9px;
}
.form1{
    margin:0;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("ab2.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    animation: moveBg 20s linear infinite;
}
@keyframes moveBg{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 1000px 0;
    }
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]{
    width:250px;
    height:35px;
    padding: 5px;
    font-size: 16px;
}